In [4]:
"""
ファイル形式を調べる必要がある
読み込むときにencodingで指定してあげる必要がある
調べ方は以下の通り
"""
import chardet
source_file = "test.csv"
with open(source_file, 'rb') as f:
    c = f.read()
    result = chardet.detect(c)
    print(result)

{'encoding': 'utf-8', 'confidence': 0.99, 'language': ''}

In [8]:
"""
UTF-8形式の読み込み
encodingの指定は不要
"""
import pandas as pd
df = pd.read_csv("test.csv")
df

"""
Shift_JIS形式の読み込み
encodingの指定は不要
"""
df = pd.read_csv("testSJIS.csv", encoding="Shift_JIS")
df

# インデックスの列を指定する
df = pd.read_csv("test.csv", index_col=0)
df

     国語  数学  英語  学生番号
名前
A太   83  89  76  A001
B介   66  93  75  B001
C子  100  84  96  B002
D郎   60  73  40  A002
E美   92  62  84  C001
F菜   96  92  94  C002

In [9]:
"""
ヘッダーがないデータの扱い
"""
df = pd.read_csv("testNoHeader.csv", index_col=0, header=None)
df

    0    1   2   3     4
0  A太   83  89  76  A001
1  B介   66  93  75  B001
2  C子  100  84  96  B002
3  D郎   60  73  40  A002
4  E美   92  62  84  C001
5  F菜   96  92  94  C002

In [13]:
"""
最初の５行目だけを出力するやりかた
データを眺めたりするときに便利
"""
df = pd.read_csv("test.csv", index_col=0)
df.head()

     国語  数学  英語  学生番号
名前
A太   83  89  76  A001
B介   66  93  75  B001
C子  100  84  96  B002
D郎   60  73  40  A002
E美   92  62  84  C001

In [21]:
# 列名を出力
df.columns
# インデックスを出力
df.index
"""
列名,インデックスをリストに変換する
"""
list1 = [i for i in df.columns]
print(list1)
list2 = [i for i in df.index]
print(list2)
"""
データタイプの確認
objectは文字列型のこと
"""
df.dtypes

"""
データの個数を確認する
"""
print("データの個数", len(df))

['国語', '数学', '英語', '学生番号']
['A太', 'B介', 'C子', 'D郎', 'E美', 'F菜']
データの個数 6

In [23]:
"""
列データを取り出す
"""
df["国語"]
# 複数のデータを取り出す
df[["国語", "数学"]]

     国語  数学
名前
A太   83  89
B介   66  93
C子  100  84
D郎   60  73
E美   92  62
F菜   96  92

In [ ]:
"""
行データを取り出す
"""