In [8]:
import pandas as pd

data = pd.read_csv("data/22_shizuoka_all_20210331.csv" ,encoding='shift-jis',header=None, dtype=object)
data.dtypes

0     object
1     object
2     object
3     object
4     object
5     object
6     object
7     object
8     object
9     object
10    object
11    object
12    object
13    object
14    object
15    object
16    object
17    object
18    object
19    object
20    object
21    object
22    object
23    object
24    object
25    object
26    object
27    object
28    object
29    object
dtype: object

In [4]:
data.columns

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
           dtype='int64')

In [5]:
len(data.columns)

30

In [6]:
data

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,1,1000013040008,1,1,2018-04-02,2015-10-05,静岡家庭裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Shizuoka Family Court,Shizuoka,"1-20, Jonaicho, Aoi ku, Shizuoka shi",NaN,シズオカカテイサイバンショ,0
1,2,1000013050072,1,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Shimizu Summary Court,Shizuoka,"1-6-15, Tenjin, Shimizu ku, Shizuoka shi",NaN,シミズカンイサイバンショ,0
2,3,1000013050080,1,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Hamamatsu Summary Court,Shizuoka,"1-12-5, Chuo, Naka ku, Hamamatsu shi",NaN,ハママツカンイサイバンショ,0
3,4,1000020222119,1,1,2018-04-05,2015-10-05,磐田市,NaN,201,静岡県,...,NaN,NaN,2015-10-05,1,Iwata City,Shizuoka,"3-1,Kounodai, Iwata shi",NaN,イワタシ,0
4,5,1000020222127,1,1,2018-04-05,2015-10-05,焼津市,NaN,201,静岡県,...,NaN,NaN,2015-10-05,1,Yaizu city,Shizuoka,"2-16-32 Honmachi, Yaizu shi",NaN,ヤイヅシ,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114608,114609,9700150095744,1,0,2019-09-27,2019-08-22,久根共有財産管理委員会,NaN,499,静岡県,...,NaN,NaN,2019-08-22,1,NaN,NaN,NaN,NaN,クネキヨウユウザイサンカンリイインカイ,0
114609,114610,9700150097253,1,0,2020-01-24,2019-12-26,静岡小児感染症研究会,NaN,499,静岡県,...,NaN,NaN,2019-12-26,1,NaN,NaN,NaN,NaN,シズオカシヨウニカンセンシヨウケンキユウカイ,0
114610,114611,9700150099530,1,0,2020-07-13,2020-06-23,北方領土返還要求静岡県民会議,NaN,499,静岡県,...,NaN,NaN,2020-06-23,1,NaN,NaN,NaN,NaN,ホツポウリヨウドヘンカンヨウキユウシズオカケンミンカイギ,0
114611,114612,9700150099852,1,0,2020-08-20,2020-07-22,両河内児童クラブ,NaN,499,静岡県,...,NaN,NaN,2020-07-22,1,NaN,NaN,NaN,NaN,リヨウゴウチジドウクラブ,0
114612,114613,9700150101659,1,0,2021-01-26,2021-01-14,静岡市茶業振興協議会,NaN,499,静岡県,...,NaN,NaN,2021-01-14,1,NaN,NaN,NaN,NaN,シズオカシチヤギヨウシンコウキヨウギカイ,0

In [7]:
data.dtypes

0       int64
1       int64
2       int64
3       int64
4      object
5      object
6      object
7     float64
8       int64
9      object
10     object
11     object
12    float64
13      int64
14      int64
15    float64
16    float64
17    float64
18     object
19    float64
20    float64
21     object
22     object
23      int64
24     object
25     object
26     object
27    float64
28     object
29      int64
dtype: object

In [10]:
mst = pd.read_csv('data/mst_column_name.txt', encoding='shift-jis',sep='\t')
mst.head()

   column_id column_name_ja   column_name_en
0          1           一連番号   sequenceNumber
1          2           法人番号  corporateNumber
2          3           処理区分          process
3          4           訂正区分          correct
4          5          更新年月日       updateDate

In [11]:
len(mst)

30

In [12]:
# ヘッダの項目数とレコード数の比較
len(mst) == len(data.columns)

True

In [14]:
# columnsの中から指定した列をヘッダにする処理
columns = mst.column_name_en.values
columns

array(['sequenceNumber', 'corporateNumber', 'process', 'correct',
       'updateDate', 'changeDate', 'name', 'nameImageId', 'kind',
       'prefectureName', 'cityName', 'streetNumber', 'addressImageId',
       'prefectureCode', 'cityCode', 'postCode', 'addressOutside',
       'addressOutsideImageId', 'closeDate', 'closeCause',
       'successorCorporateNumber', 'changeCause', 'assignmentDate',
       'latest', 'enName', 'enPrefectureName', 'enCityName',
       'enAddressOutside', 'furigana', 'hihyoji'], dtype=object)

In [15]:
data.columns = columns
data.head()

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji
0,1,1000013040008,01,1,2018-04-02,2015-10-05,静岡家庭裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Shizuoka Family Court,Shizuoka,"1-20, Jonaicho, Aoi ku, Shizuoka shi",NaN,シズオカカテイサイバンショ,0
1,2,1000013050072,01,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Shimizu Summary Court,Shizuoka,"1-6-15, Tenjin, Shimizu ku, Shizuoka shi",NaN,シミズカンイサイバンショ,0
2,3,1000013050080,01,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Hamamatsu Summary Court,Shizuoka,"1-12-5, Chuo, Naka ku, Hamamatsu shi",NaN,ハママツカンイサイバンショ,0
3,4,1000020222119,01,1,2018-04-05,2015-10-05,磐田市,NaN,201,静岡県,...,NaN,NaN,2015-10-05,1,Iwata City,Shizuoka,"3-1,Kounodai, Iwata shi",NaN,イワタシ,0
4,5,1000020222127,01,1,2018-04-05,2015-10-05,焼津市,NaN,201,静岡県,...,NaN,NaN,2015-10-05,1,Yaizu city,Shizuoka,"2-16-32 Honmachi, Yaizu shi",NaN,ヤイヅシ,0

In [16]:
# 統計量と欠損値を確認
data.describe()

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji
count,114613,114613,114613,114613,114613,114613,114613,1243,114613,114613,...,666,1111,114613,114613,232,230,230,0,46620,114613
unique,114613,114613,6,2,1316,1344,105857,1243,9,1,...,572,1051,1328,1,231,1,129,0,41339,2
top,1,1000013040008,01,0,2015-11-13,2015-10-05,八幡神社,00067214,301,静岡県,...,8080001004480,平成２９年１２月１日静岡市駿河区富士見台一丁目２１番２２号富士見工業株式会社（8080001...,2015-10-05,1,Kamiide financial ward,Shizuoka,"2-1-1,oohara, Ito shi",NaN,ハチマングウ,0
freq,1,1,94126,80704,55969,83291,171,1,51229,114613,...,12,12,101316,114613,2,230,10,NaN,30,114388

In [17]:
data.isna().sum()

sequenceNumber                   0
corporateNumber                  0
process                          0
correct                          0
updateDate                       0
changeDate                       0
name                             0
nameImageId                 113370
kind                             0
prefectureName                   0
cityName                         0
streetNumber                    17
addressImageId              113418
prefectureCode                   0
cityCode                         0
postCode                       173
addressOutside              114613
addressOutsideImageId       114613
closeDate                   104536
closeCause                  104536
successorCorporateNumber    113947
changeCause                 113502
assignmentDate                   0
latest                           0
enName                      114381
enPrefectureName            114383
enCityName                  114383
enAddressOutside            114613
furigana                     67993
hihyoji                          0
dtype: int64

In [18]:
import os
os.listdir('data')

['mst_corp_kind.csv',
 'mst_hihyoji.csv',
 '22_shizuoka_all_20210331.csv',
 'diff_20210405.csv',
 'diff_20210407.csv',
 'diff_20210406.csv',
 'diff_20210401.csv',
 'mst_process_kbn.csv',
 'mst_column_name.txt',
 'mst_latest.csv',
 'mst_closeCause.csv',
 'diff_20210408.csv',
 'diff_20210409.csv',
 'mst_correct_kbn.csv']

In [19]:
from glob import glob
diff_files = glob('data/diff*.csv')
diff_files

['data/diff_20210405.csv',
 'data/diff_20210407.csv',
 'data/diff_20210406.csv',
 'data/diff_20210401.csv',
 'data/diff_20210408.csv',
 'data/diff_20210409.csv']

In [20]:
diff_files.sort()
diff = pd.read_csv(diff_files[0], encoding='shift-jis', header=None, dtype=object)
print(len(diff))
diff.head(3)

2316

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,1,1010001016019,71,0,2021-04-01,2021-03-01,株式会社国際漢方研究所,NaN,301,東京都,...,NaN,令和３年３月１日東京都渋谷区千駄ヶ谷五丁目２９番１１号ナカニシビル６０２号室株式会社Ｉｎｔｅ...,2015-10-05,1,NaN,NaN,NaN,NaN,コクサイカンポウケンキュウショ,0
1,2,1010001092869,01,1,2021-04-01,2020-06-11,あさひ銀リテールファイナンス株式会社,NaN,301,東京都,...,NaN,NaN,2020-06-11,0,NaN,NaN,NaN,NaN,アサヒギンリテールファイナンス,0
2,3,1010001092869,21,0,2021-04-01,2021-03-22,あさひ銀リテールファイナンス株式会社,NaN,301,東京都,...,NaN,NaN,2020-06-11,1,NaN,NaN,NaN,NaN,アサヒギンリテールファイナンス,0

In [23]:
# diffにカラムを追記
diff.columns = columns
# カラムの中から静岡県を選択する
diff = diff.loc[diff['prefectureName'] == '静岡県']
print(len(diff))
diff.head(3)

43

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji
107,108,1080001015906,01,1,2021-04-01,2015-10-05,株式会社エムケイテック,NaN,301,静岡県,...,NaN,NaN,2015-10-05,0,NaN,NaN,NaN,NaN,エムケイテック,0
108,109,1080001015906,12,1,2021-04-01,2021-03-30,株式会社エムケイテック,NaN,301,静岡県,...,NaN,NaN,2015-10-05,1,NaN,NaN,NaN,NaN,エムケイテック,0
109,110,1080002015434,01,1,2021-04-01,2015-10-05,有限会社ハイナンＤＣ,NaN,302,静岡県,...,NaN,NaN,2015-10-05,1,NaN,NaN,NaN,NaN,ハイナンディーシー,0

In [24]:
data_test = data
print(len(data_test))
print(len(data_test)) == len(data)
print(len(diff))

114613
114613
43